h1{
    text-transform: uppercase;
    color: brown;
}

body{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 0px;
    margin: 0px;
}

footer {
  font-weight: bold;
  position: fixed;
  bottom: 0px;
}

footer span {
  color: red;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}