footer {
  font-weight: bold;
}

footer span {
  color: red;
}

body {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  box-sizing: border-box;
}

main {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
}

h1 {
  color: green;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 100px;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

form #name {
  display: flex;
}

img {
  max-width: 16px;
  border: 3px solid black;
  border-radius: 5px 0px 0px 5px;
  object-fit: contain;
  fill: blue;
}

#svg {
  fill: yellow;
}

#tandc {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  max-width: 100%;
}

#country {
  font-size: 20px;
  width: 50%;
  border: 3px solid black;
  border-radius: 5px;
}

option {
  font-size: 25px;
}
#password {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

#pass,
#conpass {
  display: flex;
  margin-bottom: 20px;
}

.em {
  display: flex;
  margin-top: 10px;
}

.nam {
  display: flex;
}

.lnam {
  margin-left: 10px;
}

input {
  font-size: 20px;
  border: 3px solid black;
  border-radius: 0px 5px 5px 0px;
  border-left: 0px;
}

#name {
  width: 100%;
}

#submit {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

#submit:hover {
  background-color: brown;
  cursor: pointer;
}

@media (min-width: 600px) {
  #name {
    display: flex;
    flex-direction: column;
  }
  .lnam {
    margin: 0px;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  body {
    font-size: 20px;
  }
  .em,
  #password {
    width: 100%;
  }
  #country {
    width: 100%;
  }
  .nam {
    margin-bottom: 20px;
  }
  .em {
    margin-top: 0px;
  }
  main {
    padding: 15px;
  }
  #tandc {
    max-width: 100%;
    flex-direction: column;
    align-items: start;
  }
  #gender {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) and (min-width: 350px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }
  body {
    font-size: 20px;
  }
  #name {
    display: flex;
    flex-direction: column;
  }
  .lnam {
    margin-left: 0px;
  }
  .nam {
    margin-bottom: 20px;
  }
  .em {
    margin-top: 0px;
  }
  main {
    padding: 15px;
    margin: 0px 200px;
  }
  input {
    max-width: 100%;
  }
  #country {
    width: 100%;
  }
  #tandc {
    flex-direction: column;
    align-items: start;
  }
  #gender {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }
  body {
    font-size: 20px;
  }
  #name {
    display: flex;
    flex-direction: column;
  }
  .lnam {
    margin-left: 0px;
  }
  .nam {
    margin-bottom: 20px;
  }
  .em {
    margin-top: 0px;
  }
  main {
    padding: 15px;
    margin: 0px 200px;
    max-width: 60vw;
    margin-bottom: 50px;
  }

  #tandc {
    flex-direction: column;
    align-items: start;
  }
  #gender {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  input,
  #country {
    max-width: 50vw;
  }

  #country {
    width: 100%;
  }
}
