footer {
  font-weight: bold;
}

footer span {
  color: red;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 200px;
  overflow: hidden;
}

#eye {
  background-image: url(apple.jpg);
}
