footer p span {
  color: red;
  font-size: 30px;
}

footer p {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: cursive;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

footer {
  font-weight: bold;
}

header {
  color: green;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  color: darkblue;
}

th {
  color: black;
  font-weight: bold;
}

/*
@media (min-device-width: 750px) and (max-device-width: 1200px) {
  table{
    width: 80vw;
    height: 50vh;
  }
}

@media (min-device-width: 500px) and (max-device-width: 750px) {
  table{
    width: 80vw;
    height: 25vh;
  }

  
@media (max-device-width: 500px) {
  table{
    width: 80vw;
    height: 15vh;
  }
}


